/* Index Page (HOME)*/

#gameTitle{
  display: flex;
  justify-content: center;
  color: white;
}

.begin{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#start{
  margin-top: 5%;
  height: 20%;
}

#tutorial{
  margin-top: 10%;
  hight: 20%;
}

#quit{
  margin-top: 10%;
}

#homeBody{
  background-image: url("https://i.imgur.com/4wGRzOS.png");
  background-repeat: no-repeat;
  background-size: 100% 160%;
}

/* Tutorial */

#tutorialBody{
  background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: 100% 200%;
}

#tutorialControls{
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-weight: bold;
}

#moving{
  width: 20%;
}

#attacking{
  width: 50%;
}

#tutorialPage{
  width: 100%;
  display: flex;
}

.placeholder{
  width: 30%;
}

.titleCards{
  font-size: 250%;
  text-decoration: underline;
}

.instr{
  font-size: 200%;
}

/* Game */

#canvasContainer{
  border: solid 1px;
  display: inline-block;
}

/* End */

