#canvasContainer{
  border: solid 1px;
  display: inline-block;
}

#gameTitle{
  display: flex;
  justify-content: center;
  color: white;
}

.begin{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#start{
  margin-top: 10%;
}

#tutorial{
  margin-top: 20%;
}

#quit{
  margin-top: 20%;
}

#homeBody{
  background-image: url("https://i.imgur.com/4wGRzOS.png");
  background-repeat: no-repeat;
  background-size: 120%;
}